body {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./docs/woody.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

img {
width: 100px;
object-fit: cover;
}

#mainpadding {

    
    position: relative;
    display: grid;
    /* border: rgba(0, 0, 0, 0.205) solid 4px; */
    grid-template-columns: 2fr 12fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "head head"
    "side con";
    /* background-color: rgb(102, 100, 96); */
    grid-gap: 4px;
    width: 80vw;
    height: 85vh;
    max-width: 1240px;
	text-align: center;
	font-size: 1em;
    font-family: Source Sans Pro;
    font-size: 1.5;
    font-weight: 600;

    color: black;
    opacity: .80;
    
}

header { 
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    grid-area: head;
    grid-column: span;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    grid-area: side;
    display: flex;
    background-color:white;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#contact, #resume, #tech, #about, #news {
    grid-area: con;
    background-color: white;
}


footer {
    
    position: absolute;
    bottom: -3px;
    left: -19px;
    display: flex;
    padding: 0 20px;
    font-size: 10px;
    }
/* fix footer its in a different spot */
/* Tablet */
@media screen and (max-width: 960px) and (min-width: 401px){
    #mainpadding {
        width: 100vw;
    }
}

@media screen and (max-width: 700px){
   
    #mainpadding {           
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .75fr 4fr;
        grid-template-areas: 
        "head"
        "drop"
        "con";
        font-size: 1em;
        font-family: Source Sans Pro;
        color: black;
        width: 80vw;
    }
    header { 
    grid-area: head;
    }

    .sidebar {
    grid-area: drop;
    flex-direction: row;}

    #contact {
        grid-area: con;
    }

/* Mobile  */
@media screen and (max-width: 400px){    
    #mainpadding {         
        width: 100vw;
    }
}
}