body {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    /* width: 100vw; */
    height: 100vh;
    background-image: url(./docs/woody.jpg) ;
    background-position: center;
    /* background-size: 100vw; */
    background-repeat: no-repeat;
    align-items: center;
}

.smallscreentoggle {
    display: none;
}

#mainpadding {

    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    grid-template-areas: 
    "head head head head head head head"
    "side pic pic one one one st"
    "side pic pic two two two st"
    "side ab ab three three pic2 pic2"
    "side four four five five pic2 pic2";
    /* background-color: rgb(102, 100, 96); */
    grid-gap: 8px;
    width: 80vw;
    height: 85vh;
    max-width: 1200px;
	text-align: center;
	font-size: 1em;
    font-family: Source Sans Pro;
    font-size: 1.5;
    font-weight: 600;

    color: black;
    opacity: .80;
    
}

header { 
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    grid-area: head;
    grid-column: span;
    background-color: rgba(182, 179, 179, 0.603);
}

.sidebar {
    grid-area: side;
    display: flex;
    background-color:rgba(182, 179, 179, 0.603);
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#face, #pic2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .9;
    

}

#pic  {
    grid-area: pic;
    background-color: white;
    display: flex;
   display: grid;

}

img {
    object-fit: cover;
    width: 100%;
}

#resume {
    background-color: white;
    grid-area: one;
}

#stack { 
    display: grid;
    grid-area: st;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "p1 p2 p3"
    "p4 p5 p6"
    "p7 p8 p9";
}

img:first-child{
grid-area: p1;
}
img:nth-child(2){
grid-area: p2;  
}
#stack:nth-child(3){
grid-area: p3;  
}
#stack:nth-child(4){
grid-area: p4;
}
#stack:nth-child(5){
grid-area: p5;
}
img:nth-child(6){
grid-area: p6;  
}
#stack:nth-child(7){
grid-area: p7;  
}
#stack:nth-child(8){
grid-area: p8;
}
#stack:nth-child(9){
grid-area: p9;
}

#about {
    background-color: rgb(255, 255, 255);
    grid-area: ab;
}

#pic2 {
    grid-area: pic2;
    background-color: rgb(255, 255, 255);

}

#tech {
    grid-area: two;
    background-color: rgb(255, 255, 255);
}

#e1 {
    grid-area: three;
    background-color: rgb(255, 255, 255);
}

#e2 {
    grid-area: four;
    background-color: rgb(255, 255, 255);
}

#news {
    grid-area: five;
    background-color: white;
}

footer {
    
    position: absolute;
    bottom: -3px;
    left: -19px;
    display: flex;
    padding: 0 20px;
    font-size: 10px;
    }

@media screen and (min-width: 1350px){
    body {
        background-size: 100vw;
    }
}

/* Tablet */
@media screen and (max-width: 960px){
    #mainpadding {
        width: 100vw;
    }
}

@media screen and (max-width: 700px){
   
    #mainpadding {           
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr .1fr;
        grid-template-areas: 
        "head head"
        "pic one"
        "pic tech"
        "e1 three"
        "e2 st"
        "foot foot";
        font-size: 1em;
        font-family: Source Sans Pro;
        color: black;
        width: 80vw;
    }


    #tname {
        display: none;
    }

    .smallscreentoggle {
        display: unset;
    }

    .sidebar {
    display: none;
  
    }
    #pic {
    grid-area: pic;
    }

    #resume {
    grid-area: one;
    }

    #stack { 
    grid-area: st;

    }
    #about {
    grid-area: three;
    }

    #pic2 {
    display: none;
    }

    #tech {
    grid-area: tech ;
    }

    #news {
    grid-area: e1;
    }

    #e2 {
    grid-area: e2;
    }

    /* #e3 {
    display: none;
    } */

    footer {
    grid-area: foot;
    font-size: .5em;}
    
/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}


/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}


}
/* Mobile  */
@media screen and (max-width: 400px){    
    #mainpadding {         
        width: 100vw;
    }
}